[package]
name = "viatls"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.20", features = [ "full" ] }
tokio-rustls = "0.23.4"
webpki-roots = "0.22"
rustls-pemfile = "1.0.1"
anyhow = "1.0.66"
structopt = "0.3.23"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
socks5-proto = { version = "0.3.2" }
socks5-server = { version = "0.8.3", git = "https://github.com/ssrlive/socks5-server.git", rev = "5bc4ce7d7596e4b775ef8c6cc588a5233106d4ef" }
bytes = "1.2.1"
tungstenite = "0.17.3"
tokio-tungstenite = "0.17.2"
rustls = "0.20.1"
url = "2.3.1"
base64 = "0.13.0"
log = "0.4.17"
env_logger = "0.9.0"

[dev-dependencies]
argh = "0.1"
