[package]
name = "overtls"
version = "0.2.7"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["staticlib", "cdylib", "lib"]

[dependencies]
async-shared-timeout = "0.2"
base64 = "0.21"
bytes = "1.5"
chrono = "0.4"
clap = { version = "4.4", features = ["derive"] }
ctrlc2 = { version = "3.5", features = ["tokio", "termination"] }
dotenvy = "0.15"
env_logger = "0.10"
futures-util = { version = "0.3", default-features = false, features = [
    "sink",
    "std",
] }
http = "1.0"
httparse = "1.8"
lazy_static = "1.4"
log = "0.4"
moka = { version = "0.12", features = ["future"] }
reqwest = { version = "0.11", default-features = false, features = [
    "rustls-tls",
    "json",
] }
rustls = { version = "0.21", features = ["dangerous_configuration"] }
rustls-pemfile = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
socks5-impl = "0.5"
thiserror = "1.0"
tokio = { version = "1.34", features = ["full"] }
tokio-rustls = "0.24"
tokio-tungstenite = { version = "0.20", features = ["rustls-tls-webpki-roots"] }
trust-dns-proto = "0.23"
tungstenite = { version = "0.20", features = ["rustls-tls-webpki-roots"] }
url = "2.4"
webpki = { package = "rustls-webpki", version = "0.101", features = [
    "alloc",
    "std",
] }
webpki-roots = "0.25"

[target.'cfg(target_family="unix")'.dependencies]
daemonize = "0.5"

[target.'cfg(target_os="android")'.dependencies]
android_logger = "0.13"
crossbeam = "0.8"
jni = { version = "0.21", default-features = false }
