[package]
name = "overtls"
version = "0.1.3"
edition = "2021"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.69"
base64 = "0.21.0"
bytes = "1.4.0"
env_logger = "0.10.0"
futures-util = { version = "0.3.26", default-features = false, features = ["sink", "std"] }
http = "0.2.9"
httparse = "1.8.0"
log = "0.4.17"
reqwest = { version = "0.11.14", default-features = false, features = ["rustls-tls", "json"] }
rustls = "0.20.8"
rustls-pemfile = "1.0.2"
serde = { version = "1.0", features = [ "derive" ] }
serde_json = "1.0"
socks5-impl = "0.1.6"
structopt = "0.3.26"
tokio = { version = "1.25.0", features = [ "full" ] }
tokio-rustls = "0.23.4"
tokio-tungstenite = { git = "https://github.com/ssrlive/tokio-tungstenite.git", branch = "mychange", features = [ "rustls-tls-webpki-roots" ] }
tungstenite = { git = "https://github.com/snapview/tungstenite-rs.git", branch = "master", features = [ "rustls-tls-webpki-roots" ] }
url = "2.3.1"
webpki-roots = "0.22"
